#search{
    margin-left: 12vw !important;
    width: 35vw !important;
    /* margin-right: 1vw !important; */
}

#searchbtn{
    margin-left: 47.5vw !important;
    position: absolute;

    
}


#dd{
    margin-right: 110px !important;
}

.logo{

    margin-left: 10px !important;
    background-color: transparent;

}